<main role="main" class="container-fluid">

  <div>
    <h2>Custom Date Selector Example</h2>
  </div>

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <h4>Title</h4>&nbsp;
    <span [ngbPopover]="reportDescription" placement="bottom">
    <i class="fas fa-info-circle"></i>
</span>

    <div class="input-group ml-auto" role="group" aria-label="Date Filters">
      <div class="input-group ml-auto" aria-label="Canned Date Selector">
        <!--<select class="form-control" id="dateFormControlSelect"-->
                <!--[(ngModel)]="selectedDate" (change)="onDateChange($event)" (click)="f.toggle()">-->
          <!--<option  [ngValue]="date" *ngFor="let date of cannedDates"> {{date}}</option>-->
        <!--</select>-->
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-secondary" id="dropdownBasic1"  ngbDropdownToggle>Filter</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button  class="dropdown-item" *ngFor="let date of cannedDates" (click)="showAlert(date)">{{date}}</button>

            <!--<button class="dropdown-item">Today</button>-->
            <!--<button class="dropdown-item">Yesterday</button>-->
            <!--<button class="dropdown-item">This Week</button>-->
            <!--<button class="dropdown-item">Last Week</button>-->
            <!--<button class="dropdown-item">This Month</button>-->
            <!--<button class="dropdown-item">Last Month</button>-->
            <!--<button class="dropdown-item">This Year</button>-->
          </div>
        </div>
      </div>
      <div class="input-group-prepend">
        <span class="input-group-text" id="onFromDate" (click)="f.toggle()">From</span>
      </div>
      <input type="text" class="form-control" placeholder="yyyy-mm-dd"
             name="fromDatePicker" [(ngModel)]="fromDate" (ngModelChange)="onFromDateChange($event)"
             ngbDatepicker #f="ngbDatepicker" (click)="f.toggle()">
      &nbsp;
      <div class="input-group-prepend">
        <span class="input-group-text" id="onToDate" (click)="t.toggle()">To</span>
      </div>
      <input type="text" class="form-control" placeholder="yyyy-mm-dd"
             name="toDatePicker" [(ngModel)]="toDate" (ngModelChange)="onToDateChange($event)"
             ngbDatepicker #t="ngbDatepicker" (click)="t.toggle()">
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="clearDates()">Clear</button>
    </div>
  </div>

  <br>
  <div>
    <pre>Selected: {{selectedDate}}</pre>
    <pre>From Date: {{ fromDate | json }}</pre>
    <pre>To Date: {{ toDate | json }}</pre>
  </div>

</main>

